.wrapper {
	padding-right: 0.5rem;
	border: 1px solid #bbb;
	border-radius: 0.5rem;
	box-sizing: border-box;
	background-color: white;
	display: flex;
	align-items: center;

	&.focused {
		border-color: #6e5;
		border-width: 1px;

		&.error {
			border-color: #935;
		}
	}

	&.error {
		border-color: #c79;
	}

	.clickableWrapper {
		padding: 0.5rem 0 0.5rem 0.5rem;
		flex-grow: 1;
		cursor: text;

		.input {
			border: none;
			outline: none;
			width: 100%;
			transform: translateY(-1px);
		}
	}
}

.errorMessage {
	padding-top: 0.2rem;
	font-size: 0.7rem;
	color: #935;
}
