@import "../../styles/screens.scss";
@import "../../styles/variables.scss";

.container {
	$padding-top: calc(#{$header-height} + 5rem);
	height: 100vh;
	padding: $padding-top 20% 1rem;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: $laptop) {
		padding: $padding-top 10% 1rem;
	}

	@media screen and (max-width: $laptop-small) {
		padding: $padding-top 1rem 1rem;
	}
}
