.dimmer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(0.2rem);

	&.hidden {
		display: none;
	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.closeContainer {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			transform: translateX(calc(1.5rem + 2px)) translateY(-2px);
		}
	}
}
