.button {
	background-color: #6e5;
	padding: 0.5rem 1rem;
	box-sizing: border-box;
	border-radius: 0.3rem;
	color: white;
	opacity: 0.7;
	font-size: 1.1rem;
	text-align: center;
	width: min-content;
	white-space: nowrap;

	&:hover:not(.disabled) {
		background-color: #4c3;
	}

	&:not(.disabled) {
		opacity: 1;
		cursor: pointer;
	}
}
