.user {
	border: 1px solid black;
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: white;

	.avatar {
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		margin-right: 1rem;
	}

	.isAdmin {
		color: green;
	}
}
