@import "./variables.scss";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body {
	background-image: url("../assets/background.png");
	background-size: auto 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-color: $bg-color;
	background-blend-mode: overlay;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #333;
}

body,
html,
#root {
	width: 100%;
	height: 100%;
}
